<div id="cookiesLegalMessage">
    <div class="inner-content">
        <span class="close">×</span>
        <p>{{ 'c2is.cookie.accept.message'|trans }}{% if cookieHref|default(false) %} <a href="{{ cookieHref }}" target="_blank">{{ 'c2is.cookie.learn.more'|trans }}</a>{% endif %}<button type="button" class="btn btn-accept-cookie cookie-accept">{{ 'c2is.cookie.acknowledge'|trans }}</button></p>
    </div>
</div>
