#cookiesLegalMessage {
    bottom: 0;
    z-index: 99999999;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    background: #252525;
    color: #fff;
    font-family: 'Asap',Arial,sans-serif;
    font-size: 12px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}